
<%- include("partials/header") %>


<h1><%= title %></h1>
<p><%= content %></p>


<img src="https://media.cntraveler.com/photos/5a9c05193e9f9737bfc6d654/16:9/w_2560%2Cc_limit/giethoorn-GettyImages-671152742.jpg" width=200 height = 100>


<%- include("partials/footer") %>